

<section id="ml_section">
	<div classs="container">
		<div class="row">
			<div class="col-md-4 top_sec">
				<h4 style="text-align: justify;">CE SITE EST ÉDITÉ PAR :</h4>
				<p>Siège social</p>
				<p>27 En Chaplerue<br>
                    57000 Metz</p>

			</div>
			<div class="col-md-4 top_sec">
				<h4 style="text-align: justify;">CE SITE A ÉTÉ CRÉÉ PAR :</h4>
				<p>Speedi Rychi Nylon<br>
					5 Boulevard de Trèves<br>
					57070 Metz<br>
					Tel. : (+ 33) 87 37 75 75</p>

			</div>
			<div class="col-md-4 top_sec">
				<h4 style="text-align: justify;">CE SITE EST HÉBERGÉ PAR :</h4>
                <p>GANDI SAS, Société par Actions Simplifiée<br>
                    au capital de 300.000 € <br>
                    63-65 boulevard Massena à Paris (75013) FRANCE <br>
                    423 093 459 RCS PARIS<br>
                    Télécopie : +33 (0)1 43 73 18 51</p>
			</div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Politique de confidentialité</h5>
                <p style="text-align: justify;">Conformément à la loi « Informatique et libertés » du 6 janvier 1978 modifiée en 2004,
                    vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez
                    exercer en vous adressant à Verdura, 27 En Chaplerue, 57000 Metz. Vous pouvez également, pour des
                    motifs légitimes, vous opposer au traitement des données vous concernant. La structure générale du site Internet
                    www.epicerie-verdura.fr est la propriété de Speedi Rychi Nylon. Les images et photos sont la propriété de Shutterstock,
                    de Speedi Rychi Nylon ou de Verdura. Toute reproduction, totale ou partielle, et toute représentation du contenu
                    de ce site, d’un ou de plusieurs de ses composants, par quelque procédé que ce soit, sans autorisation
                    expresse de Speedi Rychi Nylon, est interdite et constitue une contrefaçon sanctionnée par les articles du code
                    de la propriété intellectuelle. Les informations, pictogrammes, photographies, images, textes, vidéos sonores
                    ou non, et autres documents présents sur le site internet www.epicerie-verdura.fr sont protégés par des droits
                    de propriété intellectuelle, soit Speedi Rychi Nylon en est le titulaire, soit il est autorisé à les
                    reproduire et les représenter.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Données personnelles</h5>
                <p style="text-align: justify;">Nous sommes particulièrement sensibilisés à la règlementation en matière de protection des données. C’est pourquoi nous souhaitons rendre aussi claires et accessibles que possible toutes les informations relatives aux traitements de données effectués sur notre site internet.</p>
                <p style="text-align: justify;">Le but de notre politique de confidentialité est de vous informer sur l’utilisation qui sera faite des données personnelles vous concernant collectées via ce site internet, ainsi que sur vos droits et sur votre pouvoir de les exercer.</p>
                <p style="text-align: justify;">Cette politique est également le reflet de nos principes en matière de confidentialité et de sécurité des données personnelles. Le traitement des données est un enjeu important, c’est pourquoi nous nous devons de nous assurer qu’il soit réalisé en toute sécurité et en conformité avec votre volonté.</p>
                <p style="text-align: justify;">En amont de la transmission de vos données personnelles depuis nos formulaires, vous vous engagez à lire et à accepter notre politique de confidentialité. Ce consentement clair et non équivoque nous permet de répondre à vos demandes grâce aux données transmises dans ce but.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Engagements</h5>
                <p style="text-align: justify;">Nous nous engageons à respecter la législation relative aux données à caractère personnel, ainsi que le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, dès son entrée en vigueur le 25 mai 2018.</p>
                <p style="text-align: justify;">Ainsi, nous nous engageons à n’utiliser les données personnelles reçues qu’en conformité avec les finalités propres à leur transmission et à déployer les moyens nécessaires au respect desdits textes, notamment pour veiller à fournir un niveau de sécurité adapté aux finalités du traitement et à la nature de ces données.</p>
                <p style="text-align: justify;">Notre équipe se tient à votre disposition en cas de question relative à cette politique de confidentialité.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Responsabilité de la collecte</h5>
                <p style="text-align: justify;">Pour la collecte de vos données personnelles sur notre site internet, nous agissons en tant que responsable de traitement et nous collectons directement lesdites données. Notre siège social est situé à l’adresse suivante :</p>
                <p style="text-align: justify;">Verdura Epicerie<br>
                    27 En Chaplerue<br>
                    57000 Metz</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Finalité du traitement des données personnelles collectées</h5>
                <p style="text-align: justify;">Les données personnelles transmises via nos formulaires sur le site, à savoir : vos nom(s) et prénom(s), votre adresse e-mail et/ou votre numéro de téléphone, votre emploi et le nom de votre entreprise, sont destinés à nous permettre de vous identifier et de répondre le mieux possible aux besoins formulés dans votre demande.</p>
                <p style="text-align: justify;">Nous vous informons que le choix des informations communiquées par formulaire, notamment dans la zone de message, vous incombe entièrement.</p>
                <p style="text-align: justify;">Lorsque vous acceptez de nous transmettre vos données personnelles, vous acceptez tacitement l’usage de ces données dans la limite des finalités détaillées ci-avant.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Combien de temps vos données sont-elles stockées ?</h5>
                <p style="text-align: justify;">Toutes les données collectées au sein de nos espaces de contact ne sont conservées que le temps nécessaire à la réalisation de leur(s) finalité(s) tant que vous ne retirerez pas votre consentement lié à la transmission de ces données.</p>
                <p style="text-align: justify;">Les données transmises via nos formulaires seront soit supprimées immédiatement, dans le cas où aucune suite ne pourrait être donnée à votre prise de contact, soit conservées le temps de notre collaboration et ce jusqu’à 5 à 10 ans après son terme.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Qui peut accéder à vos données ?</h5>
                <p style="text-align: justify;">Seules les personnes compétentes et indispensables au bon traitement de vos données peuvent y accéder.</p>
                <p style="text-align: justify;">Nous nous engageons à ne jamais vendre vos données. Toute communication de vos données à un tiers ne se fera qu’avec votre consentement, pour faciliter votre expérience sur notre site internet ou dans le cadre de la mise en œuvre d’un contrat préalablement signé par vous.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Comment exercer vos droits ?</h5>
                <p style="text-align: justify;">Lorsque vous acceptez de nous transmettre vos données vous bénéficiez d’un droit d’accès, de rectification, d’opposition et de suppression au traitement desdites données. En application du règlement 2016/679 du 27 avril 2016, vous pourrez exercer vos droits à la limitation du traitement, à l’effacement de vos données et leur portabilité à partir du 25 mai 2018.</p>
                <p style="text-align: justify;">Ces droits peuvent être exercer en transmettant votre demande via notre formulaire de contact ou par courrier postal à Verdura 27 En Chaplerue, 57000 Metz. Nous nous engageons à faire le nécessaire dans les meilleurs délais après réception de votre demande et vous transmettre le cas échéant une notification de son action.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Modification de cette politique</h5>
                <p style="text-align: justify;">Nous nous réservons le droit de modifier et mettre à jour à tout moment notre politique de confidentialité conformément au droit en vigueur.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Politique d’utilisation des cookies<br>
                    Qu’est-ce qu’un cookie ?</h5>
                <p style="text-align: justify;">Un cookie est un fichier stocké par votre navigateur lors de votre première visite sur une période donnée. Il nous permet de vous reconnaître à chaque visite, et donc de vous faire profiter de toutes les fonctionnalités de notre site, en mémorisant vos actions et préférences. Nous utilisons Google Tag Manager dans la mise en place des cookies</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Qu’est-ce qu’un cookie ?</h5>
                <p style="text-align: justify;">Mesure d’audience : permet de quantifier la fréquentation d’un site en fonction d’indicateurs tels que le nombre de visiteurs uniques, les pages vues, les visites, la durée moyenne des visites. L’analyse du trafic de notre site nous permet d’améliorer ses fonctionnalités afin de vous offrir un service de qualité. Les cookies nous transmettent un retour d’expérience anonyme de votre utilisation de notre site internet. La finalité unique de ces cookies est d’améliorer notre site en facilitant votre expérience utilisateur. Les informations ainsi collectées n’ont pas pour but de vous identifier.</p>
            </div>
            <div class="col-md-12">
                <h5 style="text-align: justify;">Comment refuser un Cookie par l’intermédiaire de votre logiciel de navigation ?</h5>
                <p style="text-align: justify;">Vous pouvez à tout moment bloquer, contrôler ou supprimer les cookies déjà stockés sur votre ordinateur en configurant les paramètres de votre navigateur internet. Pour savoir comment procéder, consultez les sites en lien ci-dessous en fonction de votre type de navigateur : Firefox, Chrome, Explorer, Safari, Opera.</p>
                <p style="text-align: justify;">Les cookies ne sont pas indispensables à l’utilisation du site, cependant ils vous permettent de faciliter cette expérience. Leur désactivation vous empêchera d’utiliser notre site dans des conditions normales, à l’exception des fonctions basiques. Cela impliquera également la réinitialisation de vos préférences à chaque passage sur notre site.</p>

            </div>
	</div>
	</div>
</section>

