

{% extends "base.twig" %}

{# RENDU INDEX  /views/index.twig #}

{% block content %}
    {% if is_front_page %}


      {#  <section class="elementor-element elementor-element-4123093 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section elementskit-parallax-multi-container" data-id="4123093" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-4c11200 elementor-column elementor-col-100 elementor-top-column" data-id="4c11200" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <section class="elementor-element elementor-element-5499308 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section elementskit-parallax-multi-container" data-id="5499308" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-row">
                                            <div class="elementor-element elementor-element-9cd823e elementor-column elementor-col-33 elementor-inner-column" data-id="9cd823e" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-443cc0f elementor-widget elementor-widget-elementskit-heading" data-id="443cc0f" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-heading.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="ekit-wid-con">
                                                                    <div class="elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                                                                        <h2 class="elementskit-section-title "> Explore Solutions</h2></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-c5ceca5 elementor-column elementor-col-33 elementor-inner-column" data-id="c5ceca5" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-fa14cb2 elementor-widget elementor-widget-elementskit-heading" data-id="fa14cb2" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-heading.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="ekit-wid-con">
                                                                    <div class="elementskit-section-title-wraper text_left ekit_heading_tablet- ekit_heading_mobile-">
                                                                        <p>From banking and insurance to wealth management and securities distribution, we dedicated financial services the teams serve all major sectors.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-2a6b7dc elementor-column elementor-col-33 elementor-inner-column" data-id="2a6b7dc" data-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-element elementor-element-aed20d3 elementor-widget elementor-widget-elementskit-button" data-id="aed20d3" data-element_type="widget" data-settings="{&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-button.default">
                                                            <div class="elementor-widget-container">
                                                                <div class="ekit-wid-con">
                                                                    <div class="ekit-btn-wraper"> <a href="#" target="_blank" rel="nofollow" class="elementskit-btn "> View All Services </a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="elementor-element elementor-element-1961c8e image_block_thumb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section elementskit-parallax-multi-container" data-id="1961c8e" data-element_type="section">
            <div class="elementor-container elementor-column-gap-default">
                <div class="elementor-row">
                    <div class="elementor-element elementor-element-f7a750a elementor-column elementor-col-33 elementor-top-column" data-id="f7a750a" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-3aab81e elementor-widget elementor-widget-elementskit-image-box animated fadeInUp" data-id="3aab81e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="elementskit-info-image-box text-center floating-style">
                                                <div class="elementskit-box-header image-box-img-center"> <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-1.jpg" class="attachment-full size-full" alt="" srcset="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-1.jpg 700w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-1-300x189.jpg 300w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-1-320x200.jpg 320w" sizes="(max-width: 700px) 100vw, 700px" width="700" height="440"></div>
                                                <div class="elementskit-box-body">
                                                    <div class="elementskit-box-content">
                                                        <h3 class="elementskit-info-box-title"> <a>Estate Planning </a></h3></div>
                                                    <div class="elementskit-box-footer">
                                                        <div class="box-footer">
                                                            <div class="btn-wraper"> <a href="#" class="elementskit-btn"> Know More <i class="icon icon-right-arrow" aria-hidden="true"></i> </a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-5b46ead elementor-column elementor-col-33 elementor-top-column" data-id="5b46ead" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-ce49e84 elementor-widget elementor-widget-elementskit-image-box animated fadeInUp" data-id="ce49e84" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;150&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="elementskit-info-image-box text-center floating-style">
                                                <div class="elementskit-box-header image-box-img-center"> <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-2.jpg" class="attachment-full size-full" alt="" srcset="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-2.jpg 700w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-2-300x189.jpg 300w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-2-320x200.jpg 320w" sizes="(max-width: 700px) 100vw, 700px" width="700" height="440"></div>
                                                <div class="elementskit-box-body">
                                                    <div class="elementskit-box-content">
                                                        <h3 class="elementskit-info-box-title"> <a>Retirement Plan </a></h3></div>
                                                    <div class="elementskit-box-footer">
                                                        <div class="box-footer">
                                                            <div class="btn-wraper"> <a href="#" class="elementskit-btn"> Know More <i class="icon icon-right-arrow" aria-hidden="true"></i> </a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-3143b73 elementor-column elementor-col-33 elementor-top-column" data-id="3143b73" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-86d6d1d elementor-widget elementor-widget-elementskit-image-box animated fadeInUp" data-id="86d6d1d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;,&quot;ekit_we_effect_on&quot;:&quot;none&quot;}" data-widget_type="elementskit-image-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="elementskit-info-image-box text-center floating-style">
                                                <div class="elementskit-box-header image-box-img-center"> <img src="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-3.jpg" class="attachment-full size-full" alt="" srcset="https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-3.jpg 700w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-3-300x189.jpg 300w, https://wp.xpeedstudio.com/blo/wp-content/uploads/2019/06/explore-3-320x200.jpg 320w" sizes="(max-width: 700px) 100vw, 700px" width="700" height="440"></div>
                                                <div class="elementskit-box-body">
                                                    <div class="elementskit-box-content">
                                                        <h3 class="elementskit-info-box-title"> <a>Tax Planning </a></h3></div>
                                                    <div class="elementskit-box-footer">
                                                        <div class="box-footer">
                                                            <div class="btn-wraper"> <a href="#" class="elementskit-btn"> Know More <i class="icon icon-right-arrow" aria-hidden="true"></i> </a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>#}
<div class="container">
    {{ post.content }}
</div>

    {% endif %}

{% endblock %}

